.bady {
    background-color: cornflowerblue;
}
.inde {
    padding-top: 150px;
    text-align: center;
    color: whitesmoke;
}
.icon {
    text-align: center;
    color: aliceblue;
    font-size: 100px;
    padding-top: 30px;
    padding-bottom: 40px;
}
.cb {
    color: whitesmoke;
} 
.hov {
    color: white;
    border-top: 3px solid white;
}
.hove {
    color: white;
    border-bottom: 3px solid white;
}
.hov:hover {
    color: darkblue;
    border-top: 3px solid darkblue;
}
.hove:hover {
    color: darkblue;
    border-bottom: 3px solid darkblue;
}

.back {
    background: url(../images/contact.jpg);
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
    padding-top: 100px;
}
.ico {
    font-size: 50px;
}
.ico :hover {
    color: deepskyblue;
}
.cont {
    text-align: center;
    padding-bottom: 60px;
    padding-top: 80px;
}
.news {
    text-align: center;
}
.foot {
    text-align: center;
}
.zote {
    background-color:  beige;
    height: 80px;
    color: whitesmoke;
    text-align: center;
    padding-top: 30px;
}
.ca:hover {
    background-color: transparent;
}
.back2 {
    background: url(../images/wideband02.jpg);
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    padding-top: 100px;
    color: whitesmoke;
}
.btn {
    border: 2px solid whitesmoke;
    color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn:hover {
    background-color: white;
    color: navy;
}
.cli {
    text-align: center;
}
.clients {
    background: url(../images/opacity.jpg);
}
.cont-1 {
    text-align: center;
    padding-bottom: 100px;
}
.ul {
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
}